.card-home{
    width:18rem;
    margin-top: 5rem;
    background-color: #224957;
    color: red;
    text-align: center;
    border: 5px orange solid;
    font-size: 20px;

}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Ensures the div is circular */
    background-color: black; /* Example background color */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px orange solid;

}

.circle p {
    margin: 0; /* Remove default margins */
    color: white; /* Example text color */
}

.square {
    width: 900px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    background-color: black; /* Example background color */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square .content p {
    margin: 0;
    color: white;
}

.square .search {
    display: flex;
    align-items: center;
}

.custom-search {
    width: 1000px; /* Adjust the width as needed */
    /* Add any other styles as needed */
}

.square .footer {
    margin: 0;
    color: white;
}